body {
    background-color: #f1ebe9;
     margin: 0;
}

.pancakeBanner {
    background-color: #ebae32;
    padding: 0.5rem;
    text-align: center;
}

.logocontainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

nav {
 background-color: aliceblue;
}

.navigation {
    list-style: none;
    text-align: center;
    margin: 0;
}


.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: right;
    text-decoration: none;
    color: #262d3d;
    font-weight: 700;
}


.logo-img, .footer-logo {
    width: 100px;
    height: 100px;
}
img {
    width: 100%;
}

.navigation a.menu {
    color: #262d3d;
}

navigation a:active::before {
    content:'🍅';
   
}
.navigation a:hover::before {
    content:'🍅';
}
.responsive li {
    display: block;
}
h1 {
    color: rgb(207, 180, 167);
    text-align: center;
}

main div {
    border: 2px solid white;
    margin: .5rem 0;
    padding: .5rem;
}
.herodiv {
    position: relative;
}
.herodiv h2 {
    color: #ebae32;
    font-size: 3rem;

}
.cta-overlay {
        border: none;
        position: absolute;
        left: 0;
        top: 0; 
        text-align: center;
        width: 100%;
}

.hero-img {
    height: 400px;
    /* This makes the image fit inside a specfiic window and hide the rest of the picture */
    object-fit: cover;
    object-position: center;
}

.cta-overlay button {
    padding: 1rem 2rem;
    background-color: #ebae32;
    font-size: 1.5rem;
    border: none;
}
.weathersummary {
    background-color: #262d3d;
    color: white;
    padding: .5rem;
}
#weathericon img {
    max-width: 150px;
}

.join-container {
    display: none;
}
.sponsor3 {
    display:none;
}
.headings {
    color: rgb(207, 180, 167);
    text-align: center;
    display: flex;
    justify-content: space-between;
}


.social-link {
    display: flex;
}
.social-link img {
    max-height: 50px;
    max-width: 50px;
}
header {
    background-color: #262d3d;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}
footer {
    background-color: #262d3d;
    text-align: center;
    color: white;
}
footer p, footer h6{
    color: white;
}
.copyright {
    margin: 0 auto;
    max-width: 50%;
}

footer a {
    color: white;
}





/*********** DISCOVER page **********/
figure {
    background-color:  white;
    padding:  1rem;
   
}

aside {
    text-align: center;
    padding: .5rem;
    background-color:goldenrod;
}



/* ********join page*********** */
label {
    display: block;
    margin-top: 1rem;
}
input {
    padding: .5rem;
}
legend {
    text-align: center;
}
textarea#description {
    width: 90%;
}
input:required {
    border-left: 5px solid red;
}
input:required:valid {
    border-left: 5px solid green;
}
input[type="submit"] { /* style for button */
    text-align: center;
    background-color: goldenrod;
    border: none;
    padding: .8rem;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.button-container {
    text-align:center;
}
.button-container label {
    font-size: 2rem;
}
    
   .jointitle {
    text-align: center;
   }

   /*************** Directory Page ************/
   .bizcardgrid figure {
    border: 2px solid #262d3d;
    text-align: center;
    margin: 0.5rem;
   }
   .bizcardgrid img {
    max-width: 300px;
   }
   .listDisplay img {
    display: none;
}
.listDisplay h3 {
  text-align: left;
}
.listDisplay p {
    text-align: left;
}
.buttonContainer {
    text-align: center;
}
/* new container */

.news-container {
    position: relative;
}
.news-container img {
  max-width: 30%;
  max-height: 70%; 
  float: right;
  margin: 1rem;
}
.news-container h2 {
    font-size: 3rem;
    text-align: center;
    color:#262d3d
}