@media only screen and (min-width: 60em) {
    /**************** Hero Div *************/
.herodiv img {
    max-height: 800px;
}
/********* Local Summary ********/
.localsummary picture {
grid-column:1/3;
}
.weathersummary {
    grid-column: 3/4;
    grid-row: 3;
    flex-direction: column;
    justify-content: space-between;
}

/******** Fruit Container **********/
.fruit-container {
    max-width: 70%;
  }


  /********** footer ***********/
  footer {
    padding: 0 2%;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center
  }
  footer img {
    max-width: 50%;
  }
  .localimg {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .contact {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .orgimg {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .address {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
  }
.social-link {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-content: space-evenly;
    align-items: center;
}
.copyright {
    grid-column: 1/5;
    grid-row: 3/4;
}
}