@media only screen and (min-width: 40em) {

      
      /**********************header**************************/
      
    
    header {
      display: grid;
      grid-template-columns: 1fr 8fr;
      padding: 0 5%;
      align-items: end;
    }
    h1 {
      font-size: 4rem;
      margin: 0;
    }
      nav {
        grid-column: 1/3;
      }
      .navigation {
        list-style: none;
        text-align: center;
        margin: 0;
        font-size: 2rem;
        display: flex;
        justify-content: space-evenly;
      }
      .navigation li {
        display: block;
      }
      .navigation li:first-child {
        display: none;
      }
      
     
      
      .navigation a {
 
        text-align: right;
        font-weight: 500;
      }
      
main {
    max-width: 80%;
    margin: 0 auto;
}

.button {
    max-width: 70%;
   
    font-size: 2rem;
  border: 2px solid white;
border-radius: 50px;
}
/********** Hero Div *********/
.herodiv img {
top: 0;
left: 0;
object-fit:cover;
}

.herodiv {
  display:  grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px auto;
}
.herodiv img {
  grid-column: 1/2;
  object-fit: contain;
  width: 100%;
}
.herodiv h2 {
  grid-column: 2;
  grid-row: 1/2
}
.herodiv .button {
  grid-column: 1/3;
}
/*************** Local Summary ***********/
.localsummary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
margin-top: 2rem;
}
.monterray {
  grid-column: 1/3;
  grid-row: 1;
  margin-top: 5rem;
  
}
.jolla {
  grid-column: 3/5;
  grid-row: 1;
  margin-left: 1rem;
}
.localsummary picture {
  grid-row: 3;
  grid-column: 1/4;

}
.localsummary img {
  max-width: 80%;
}
.weathersummary {
  grid-column: 1/4;
  grid-row: 4;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
.todayweathercontainer {
  max-width: fit-content;
}
/************* Fruit Container ***********/
.drinkoptions-container .button {
max-width: 30%;
}
.fruit-container {
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 200;
 
}
.hide {
  display: block;
}




/************ footer ************/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px auto;
 }
.contact {
  grid-column: 1/3;
  grid-row: 1;
}
.copyright {
  display: flex;
  grid-column: 1/5;
  grid-row: 4;
  margin: 0 auto;
}

.address {
  grid-column: 1/3;
  grid-row: 2;
 
}
.orgimg {
  grid-column: 4/5;
  grid-row: 1 ;

    }
.localimg {
  grid-column: 3/4;
  grid-row: 1;
 /* max-width: 100px; */
}
.social-link {
  grid-column: 3/5;
  grid-row: 3;
  justify-content: space-evenly;
}

}
