@media only screen and (min-width: 62.5em) {

    .mainGrid {
        grid-template-columns: 1fr 2fr 1fr;
    }

.herodiv {
    grid-column:2/3;
    grid-row: 1/3;
}
.event-container {
    grid-column:1/2 ;
    grid-row:1 ;
}
.weathersummary {
    grid-column: 1;
    grid-row:2 ;
}
.news-container {
    grid-column:2/3;
    grid-row:3 ;
}
.ad-container {
    grid-column:3;
    grid-row:1/4 ;
    flex-direction: column;
}
.join-container {
    grid-column:1;
    grid-row: 3;
}
.sponsor3 {
    display:block;
}
}