body {
    background-color: #d7d0d9;
    /*max-width: 75%;*/
    margin: 1 auto;
}
nav button {
    margin: 2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

nav {
    background-color: beige; }
	/*margin: 0 auto;
	/*max-width: 760px;
	background-color: #d7d0d9;*/
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li a {
      display: block; 
      padding: .8rem 2vw;
      text-decoration: none;
      color:aqua;
      border-top: 1px solid rgba (0, 0, 0, 5);
    }
    

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
    
    
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: right;
	text-decoration: none;
	color: rgb(12, 10, 10);
	font-weight: 700;
	
}

img{
    max-width: 100px;
    max-height: auto;
}
.navigation a.menu {
    
/*style your hamburger bars*/
}

/*#menu::before {
	content: "≡";
	font-size: 2rem;*/


.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: /*"X"*/;
}

main {
    list-style-type: none;
}

h1 {
    color: rgb(207, 180, 167);
}

.headings {
    color: rgb(207, 180, 167);
    padding: 30px;
    
}



header {
    background-color: #262d3d;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    padding-top: .25rem;
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;
max-width: 100%;

}


@media only screen and (mid-width: 32.5em) 
  /*  .navigation {
        display: flex
    }

 /*   .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: blue
    }*/

