@media only screen and (min-width: 62.5em) {

    .mainGrid {
        grid-template-columns: 1fr 2fr 1fr;
    }

.herodiv {
    grid-column:2/3;
    grid-row: 1/3;
}
.herodiv img {
    height: 100%;
    object-fit: cover;
}
.event-container {
    grid-column:1/2 ;
    grid-row:1 ;
}
.weathersummary {
    grid-column: 1;
    grid-row:2 ;
}
.news-container {
    grid-column:2/3;
    grid-row:3 ;
}
.ad-container {
    grid-column:3;
    grid-row:1/4 ;
    flex-direction: column;
}
.join-container {
    grid-column:1;
    grid-row: 3;
}
.join-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ad-container figure:nth-child(3){
    display:block;
}
 /***** Join Page CSS *****/
 .joinformgrid {
    max-width: 60%;
    margin: 0 auto;
    }
    .membershipbox {
    display: flex;
    flex: 1 1 auto;
    }
    .membershipbox div {
    display: flex;
    flex-direction: column;
    }
    .bizcardgrid {
     
            grid-template-columns: 1fr 1fr 1fr;
    }
    	/************** Style for Contact Us Page **********/
	.contact-main-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		gap: 1.5rem;
	}
}