@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		/* change state in small view */
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	.mainGrid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	.herodiv {

		grid-column: 1/7;
		grid-row: 1;
	}

	.news-container {
		grid-column: 1/7;
		grid-row: 2;
	}

	.cta-container {
		color: red;
		/* grid-template-columns: 4/6; */

	}

	.join-container {
		display: block;
		grid-column: 1/7;
		grid-row: 4;
	}

	.event-container {
		color: blue;
		grid-column: 1/5;
		grid-row: 5;
	}

	.ad-container {
		grid-column: 1/7;
		grid-row: 3;
		display: flex;
		justify-content: space-evenly;
	}

	.ad-container figure:nth-child(3) {
		display: none;
	}

	.weathersummary {
		grid-column: 5/7;
		grid-row: 5;
		padding: .5rem
	}


	.footerContainer {
		color: #262d3d;
		display: grid;
		grid-template-columns: 20% 1fr 1fr;
		grid-template-rows: 1fr 1fr 20%;
		align-items: center;
		justify-items: center;
		max-width: 900px;
		margin: 1rem auto 0 auto;
	}

	.footer-logo {
		grid-column: 1;
		grid-row: 1/3;
	}

	.address {
		grid-column: 2;
		grid-row: 1/3;
		text-align: left;
	}

	.contact {
		grid-column: 3;
		grid-row: 1/3;
	}

	.map {
		grid-column: 3;
		grid-row: 2/3;
	}

	.copyright {
		grid-column: 1/4;
		grid-row: 3/4;
	}

	/************* Style for Discover Gallery Page ***********/

	figure {
		/* max-width: 450px; */
		margin: 2rem auto;
	}

	.discoverGrid {
		display: flex;
	}

	.imgGallery {
		min-width: 40%;
	}

	figure:hover {
		filter: drop-shadow(2px 4px 6px black);
	}

	figure:hover::before {
		content: '🍅';
		font-size: 3rem;
		position: absolute;
		left: 90%;
		top: 40%;
		transform: rotate(-15deg);
	}

	/********* Join Page CSS **********/
	.joinformgrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.membershipbox {
		grid-column: 1/3;
	}

	.button-container {
		grid-column: 1/3;

	}

	/*************** Style for Business Directory **********/
	/* use a display flex to display business cards similar to the picture cards we made on the doscver.html page
MAY need to be adjusted in the large view as well. 
style  the insdie of the business card, probably a flex or whatever you want it to look like
*/
	.bizcardgrid figure {
		
		background-color: rgb(238, 214, 203);
	}
.bizcardgrid {
	display:grid;
		grid-template-columns: 50% 50%;
}
	.bizcardgrid img {
		width: 100%;
	}
	.bizcardgrid h3 {
		text-align: center;
		font-size: 2em;
		color: rgb(24, 57, 128);
		font-family: Georgia;
	}

	.bizcardgrid p {
		font-family: 'Arial Narrow Bold', sans-serif;
		text-align: center;
		color: #262d3d; 
	}
	.bizcardgrid.listDisplay {
		display: block;
	}

	/************** Style for Contact Us Page **********/
	.contact-main-grid {
		max-width: 80%;
		margin: 0 auto;
	}
	.contactinfo {
		grid-column: 1/3;
	}
	.mapcontainer {
		grid-column: 1/2;
		text-align: center;
		
	}
	.contactform {
		grid-column: 2/3;
	}
	.contact-inputs {
		display: flex;
		flex-wrap: wrap;
	}
	
	.chambercontacts {
		grid-column: 1/3;
		grid-row: 3/4;
		text-align: center;
	}
	.chamber-contact-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		border: none;
		flex-wrap: wrap;
	}

}